/* 
1) კომენტარების სახით ახსენით რა არის grid, რისთვის გამოვიყენებთ.
CSS Grid — არის განლაგების სისტემა
რომელიც საშუალებას გვაძლევს ელემენტები მოვაწყოთ გვერდზე 
სვეტებად და რიგებად



2) მოიყვანეთ grid-ის გამოყენების მაგალითები და ჩამოთვალეთ მისი გამოყენებისას საჭირო მნიშვნელობები, არ დაგავიწყდეთ მნიშნვნელობების მიწერა
display: grid;  ვქმნით grid-ს
  grid-template-columns: 1fr 1fr 1fr; 3 სვეტი — თითოეული თანაბარი
grid-template-rows: auto;   რიგების სიმაღლე ავტომატურად

*/