/* 2) კომენტარების სახით ჩამოწერეთ ყველა ნასწავლი პოზიციონირების მნიშვნელობა და თითოეულის განმარტება
    top- გადაადგილებს ელემენტს ზევით
    bottom- გადაადგილებს ელემენტს დაბლა
    left- გადაადგილებს ელემენტს მარცხნივ
    right- გადაადგილებს ელემენტს მარჯვნივ

    static - არის ელემენტის default პოზიცია

    absolute - მდებარეობს უახლოეს მშობელთან და სხვა ელემენტები ისე იქცევიან თითქოს არ არსებობენ

    relative - შეგვიძლია გადაავადგილოთ მაგრამ ადგილი საიდანაც გადავაადგილეთ ისევ დაკავებულია

    sticky - როცა ელემენტი მიწებებულია ერთ პოზიციაში ხშირად იყენებენ header-ში
*/

/* 3) შექმენით div, რომელსაც მიანიჭებთ ზომებს და გასტილავთ თქვენს გემოზე. თქვენი დავალებაა გაუწეროთ მას position: relative და გამოიყენოთ შესაბამისი თვისებები მისი პოზიციონირებისთვის. გადაადგილეთ div მაღლიდან 100px-ით და მარცხნიდან 100px-ით */

.first {
    width: 200px;
    height: 200px;
    background-color: darkred;
    border: 2px solid black;
    position: relative;
    top: 100px;
    left: 100px;
}

/* 4) შექმენით div, რომელსაც მიანიჭებთ ზომებს და გასტილავთ თქვენს გემოზე. თქვენი დავალებაა გაუწეროთ მას position: absolute და გამოიყენოთ შესაბამისი თვისებები მისი პოზიციონირებისთვის. გადაადგილეთ div მაღლიდან 230px-ით და მარჯვნიდან 140px-ით */

.second {
    width: 200px;
    height: 200px;
    background-color: darkblue;
    border: 2px solid black;
    position: absolute;
    top: 230px;
    right: 140px;
}

/* 5) შექმენით div, რომელსაც მიანიჭებთ ზომებს და გასტილავთ თქვენს გემოზე. თქვენი დავალებაა გაუწეროთ მას position: fixed და გამოიყენოთ შესაბამისი თვისებები მისი პოზიციონირებისთვის. გადაადგილეთ div მაღლიდან 50px-ით და მარცხნიდან 50px-ით. */

.third {
    width: 200px;
    height: 200px;
    background-color: darkgreen;
    border: 2px solid black;
    position: fixed;
    top: 50px;
    left: 50px;
}