.container {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: 120px 1fr 120px;
    gap: 10px;
    height: 100vh;
}

header {
    background: #9acd32;
    grid-column: 1 / 3;
}

.ads {
    background: #9acd32;
}

nav {
    background: #9acd32;
    grid-row: 2 / 4;
}

main {
    background: #9acd32;
}

footer {
    background: #9acd32;
    grid-column: 2 / 4;
}