* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.loading {
    width: 100px;
    height: 100px;
    border: 8px solid transparent;
    border-top: 8px solid red;
    border-right: 8px solid red;
    border-radius: 50%;
    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}