:root {
    --clr-gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);
    --clr-light-blue-100: 243, 100%, 93%;
    --clr-light-blue-300: 229, 7%, 55%;
    --clr-drk-blue-600: 228, 56%, 26%;
    --clr-drk-blue-900: 229, 57%, 11%;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

body {
    background: url(images/bg-mobile.png), hsl(var(--clr-drk-blue-900));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    color: hsl(var(--clr-light-blue-100));
    font-family: 'Raleway', sans-serif;
    min-height: 100vh;
    display: grid;
    place-items: center;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

ul {
    list-style: none;
}

main {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 328px;
}

.sr-only {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.top {
    background: hsl(var(--clr-drk-blue-600));
    border-radius: 10px 100px 10px 10px;
    padding: 40px;
    animation: fadeFromTop 1s ease-in-out;
}

.logo {
    margin-bottom: 32px;
}

.functions {
    display: flex;
    align-items: center;
    gap: 16px;
}

.functions li {
    background: hsl(var(--clr-drk-blue-900));
    border-radius: 10px;
    cursor: pointer;
    width: 48px;
    height: 48px;
    display: grid;
    place-items: center;
}

.functions li button {
    all: unset;
    display: grid;
    place-items: center;
}

.functions li img {
    transform: scale(1);
    transition: all .2s ease;
}

.functions li:hover img {
    transform: scale(1.2);
}

.bottom {
    background: hsl(var(--clr-drk-blue-600));
    border-radius: 10px;
    color: hsla(0, 100%, 100%, .8);
    padding: 32px;
    position: relative;
    text-align: center;
    animation: fadeFromRight 1s ease-in-out;
}

.data-text {
    font-size: 14.4px;
    padding-bottom: 16px;
}

.data {
    font-weight: 700;
}

.progress-bar {
    background: hsl(var(--clr-drk-blue-900), .5);
    border-radius: 35px;
    height: 19.2px;
    position: relative;
}

.data-display {
    display: flex;
    justify-content: space-between;
    font-size: 12.8px;
    font-weight: 700;
    padding-top: 8px;
    padding-bottom: 16px;
}

.data-bubble {
    background: white;
    border-radius: 10px;
    width: 192px;
    padding: 16px 8px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.data-bubble-text {
    color: hsl(var(--clr-light-blue-300));
    font-size: 12.8px;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: center;
}

.data-bubble-text span {
    color: hsl(var(--clr-drk-blue-900));
    font-size: 40px;
    font-weight: 700;
}

@keyframes bubbleHop {
    from {
        transform: translateY(0);
    }

    50% {
        transform: translateY(4.8px);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes fadeFromTop {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeFromRight {
    from {
        opacity: 0;
        transform: translateX(30px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@media (min-width: 992px) {
    body {
        background: url(images/bg-desktop.png), hsl(var(--clr-drk-blue-900));
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom;
    }

    main {
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
        gap: 32px;
        width: 960px;
    }

    .top {
        width: 40%;
    }

    .bottom {
        width: 60%;
        text-align: left;
    }

    .progress-bar::before {
        width: 384px;
    }

    .progress-bar::after {
        left: 374.4px;
    }

    .data-bubble {
        top: -48px;
        left: 328px;
        transform: none;
        animation: bubbleHop 1.75s ease-in-out;
        animation-delay: 1.25s;
        animation-iteration-count: infinite;
    }

    .data-bubble:hover {
        animation-play-state: paused;
        cursor: pointer;
    }

    .data-bubble::before {
        content: '';
        position: absolute;
        right: 0;
        bottom: -24px;
        height: 32px;
        width: 32px;
        background-color: white;
        clip-path: polygon(0 0, 100% 0, 100% 100%);
    }

    .data-text {
        padding-top: 12px;
    }

    .data-display {
        padding-bottom: 6.4px;
    }
}

@media (min-width: 1280px) {
    body {
        background-position: 0vw 50vh;
    }
}