.ball {
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    animation: down 2s infinite alternate;
}

@keyframes down {
    from {
        top: 0;
    }

    to {
        top: calc(100vh - 50px);
    }
}