

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.box1, .box2, .box3, .box4 {
    width: 150px;
    height: 150px;
    transition: 2s;
    border: 3px solid black;
}

.box1:hover {
    transform: translate(20px, 10px);
    background-color: red;
    transition: 2s;
}

.box2:hover {
    transform: scale(2.5);
    background-color: blue;
    transition: 2s;
}

.box3:hover {
    transform: skew(10deg);
    background-color: green;
    transition: 2s;
}

.box4:hover {
    transform: rotate(45deg);
    background-color: yellow;
    transition: 2s;
}
