
/* 





1) კომენტარების სახით ახსენით რა არის box-sizing და დაწერეთ მისი დანიშნულება.
box-sizing არის ყუთის ზომა და მისი დანიშნულებაა რომ გააკონტროლო როგორ იზომება HTML ელემენტის ზომა 

2) კომენტარების სახით ახსენით რა განსხვავებაა border-box-სა და content-box-ს შორის.
content box- ელემენტის სიგანე/სიმაღლე მხოლოდ contents ითვლის თუ paddings დავუმატებთ ყუთი დიდდება
border box- ელემენტის სიგანე/სიმაღლე კონტენტი პადინგი და ბორდერი ერთადაა

3) დაწერეთ ზოგადი კოდი თუ როგორ ხდება css-ის reset-ი და რატომ ვწერთ მას საერთოდ.
* {
    margin: 0;        
    padding 0;
}

4) ვებ-საიტზე შემოიტანეთ 1 ცალი div ელემენტი, მიანიჭეთ მას ზომები და უკანა ფონის ფერი. თქვენი დავალებაა მიანიჭოთ body-ს height 100vh-ი, გამოიყენოთ css reset-ის მეთოდი და გადაადგილეთ შექმნილი div-ი ვებ-საიტის შუაში.
* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    height: 300px;
    width: 300px;
    background-color: green;
}



*/
