.grid {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px;
}

.box {
    border: 1px solid gray;
}

.first {
    background-color: turquoise;
}

