/* Works for index.html! */

#special-tr {
    background-color: goldenrod;
    text-align: center;
}


table {
    border-color: green;
    text-align: center;
}


.special-numbers {
    background-color: goldenrod;
}





