button {
    margin: 10px;
    padding: 15px;
    border-radius: 35%;
    border: 3px solid green;
}

.py {
    background-color: yellow;
    font-weight: 600;
}

.js {
    background-color: orange;
    font-weight: 600;
}